.construcao {
  max-width: 964px;
  background: #F4F4F4;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.construcao-img {
  width: 90%;
  max-width: 490px;
  margin: 0 auto;
  padding: 0 10px;
}